*{
	font-family: 'Roboto Condensed', sans-serif;
	outline: none !important;
	margin: 0 !important;;
	padding: 0;
	box-sizing: border-box;
	-webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
body{
	padding: 0;
}

hr {
	border: none;
    border-top: 1px solid rgba(0,0,0,0.3);
}

form{
	display: inline-block;
	width: 100%;
	padding: 10px;
	border: 1px solid rgba(0,0,0,0.1);
}

form .form-section{
	display: inline-block;
	width: 100%;
	padding: 20px 0;
	border-bottom: 1px dotted rgba(0,0,0,0.2);
}

form .form-section:last-child{
	border: none;
	padding: 10px 0 0 0;
}

label{
	display: inline-block;
	width: 100%;
}

input[type=text],
input[type=email]{
	display: inline-block;
	width: 100%;
	float: left;
	border: none;
	padding: 10px;
	background-color: rgba(0,0,0,0.05);
	font-size: 15px;
}

input[type=text]:focus,
input[type=email]:focus{	
	background-color: #e6f7ed;
}

button,
input[type=submit]{
	display: inline-block;
	padding: 10px 20px;
	color: #fff;
	font-weight: 700;
	background-color: #34AA66;
	border: none;
}

button:hover,
input[type=submit]:hover{
	/*box-shadow: 0 20px 50px rgba(0,0,0,0.5);*/
	background-color: #31CAB2;
}