*{
	font-family: 'Roboto Condensed', sans-serif;
	outline: none !important;
	margin: 0;
	padding: 0;
	color: #4B516F;
	box-sizing: border-box;
	-webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
body{
	padding: 0;
	background-color: #f4f7f5;
}

hr {
	border: none;
    border-top: 1px solid rgba(0,0,0,0.3);
}
label{
	display: inline-block;
	width: 100%;
	margin-top: 10px;
	text-transform: uppercase;
	text-align: left;
}
input[type=text],
input[type=password],
input[type=email]{
	display: inline-block;
	width: 100%;
	padding: 10px;
	border: 1px solid #eee;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus{
	border-bottom-color: #67A4A6;
}

button,
input[type=submit]{
	display: inline-block;
	margin-top: 20px;
	padding:  10px 50px;
	border: none;
	background-color: #67A4A6;
	font-weight: 700;
	color: #eee;
	text-transform: uppercase;
}
button:hover,
input[type=submit]:hover{
	background-color: #56BD81;
}

/* 	login form
*****************************************/
body[data-authenticated=false]{
	display: block;
	width: 100%;
	padding-top: 100px;
	margin-bottom: -100px;
}
body[data-authenticated=false] #login-form, 
body #login-form{
	display: block;
	margin: auto !important;
	width: 500px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	padding: 30px 20px;
	background-color: #fff;
}

body[data-authenticated=false] .container-fluid{
	display: none !important;
}
body[data-authenticated=true] #login-form{
	display: none !important;
}

#login-form button{
	width: 100%;	
}
